.card-front,
.card-back {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform;
}

.card-front {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card-back {
  background: #171e39;
  cursor: pointer;
}

.card-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

.react-card-flip {
  margin: 30px;
}
